body{
    background-color: hsl(212, 45%, 89%);
    padding:0px;
    margin:0px;
}
.container{
    display: flex;
    justify-content: center;
    font-family: outfit;
}
.main{
    width: 260px;
    height: 430px;
    background-color:  hsl(0, 0%, 100%);
    border-radius: 9px;
    margin: 180px 200px;
}
.image{
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
.main .note{
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    width:250px;
    margin-left: 4px;
}
.main .heading{
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    width: 200px;
    margin-left: 30px;
}
